---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nusabyte</title>
	</head>
	<body>
		<div class="w-screen h-screen flex items-center justify-center text-center dark:bg-gray-900 dark:text-gray-100">
			<div>
				<p class="leading-5 tracking-wider">Hello from</p>
				<h1 class="text-4xl font-semibold tracking-wider">Nusabyte</h1>
				<p class="tracking-wide">coming soon</p>
			</div>
		</div>
	</body>
</html>
